# Flutter
frontend/build/
frontend/.dart_tool/
frontend/pubspec.lock

# Python
backend/__pycache__/
backend/*.pyc
env/
venv/

# VS Code
.vscode/

# Diğer
.DS_Store
*.log

.wav
database/*.sqlite3
database/*.sqlite3
